@tailwind base;

html,
body {
    padding: 0;
    margin: 0;
    @apply text-gray-200 bg-dark-900 text-base;
}

p {
    @apply text-base mb-2;
}

button:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

button:focus {
    outline: none;
    box-shadow: none;
}

a {
    @apply text-accent underline break-all;
}

h1,
h2,
h3 {
    @apply mb-4;
}

h1 {
    @apply text-3xl;
}
h2 {
    @apply text-2xl;
}
h3 {
    @apply text-xl;
}

th {
    @apply text-left px-2 py-4;
}

table {
    @apply w-full table-fixed;
}

thead {
    @apply border-b-2 border-dark-100;
}

tr {
    @apply border-b border-dark-100;
}

td {
    @apply px-2 py-4;
}

.card-fade:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: inset 0px -35px 20px -30px rgba(18, 18, 18, 1);
}

.link-row:hover {
    @apply cursor-pointer bg-dark-800;
}

.btn {
    @apply justify-center rounded bg-light py-2 px-4 font-bold text-gray-800 no-underline;
}

.btn:hover {
    @apply bg-gray-200;
}

.btn--outline {
    @apply bg-transparent text-light;
}

.btn--outline:hover {
    @apply bg-light border-light text-dark-900;
}

.btn--text {
    @apply border-transparent bg-transparent font-semibold text-light;
}

.btn--text:hover {
    @apply border-transparent bg-transparent text-light;
}

.container {
    @apply max-w-6xl w-full mx-auto py-16;
}

.grayscale {
    filter: grayscale(100%);
    transition: 250ms ease-in-out;
}

.grayscale:hover {
    filter: none;
}

@tailwind components;
@tailwind utilities;
